bigtree
dash
dash-core-components
dash-html-components
dash-bootstrap-components
dash-mantine-components
dash-iconify			# Not available in conda
dash-daq
gunicorn			# Not available in conda
loguru
openpyxl
pandas
plotly
plotly-calplot			# Not available in conda
pyarrow
scikit-learn
umap-learn
xarray
