.content-markdown h1 {
    font-size: 2rem;
    padding-bottom: 4px;
}
.content-markdown h2 {
    font-size: 1.5rem;
    padding-bottom: 4px;
}
.content-markdown h3 {
    font-size: 1rem;
    padding-bottom: 4px;
}
.content-markdown p {
    font-size: 1rem;
    line-height: 1.6;
}
.content-markdown a {
    text-decoration: none;
}
.content-markdown a:hover {
    text-decoration: underline;
}
